# general
*~
*.log
tmp
dump
.DS_Store
.tmp/
.config.tmp
rpc_build_info.txt

.project
.classpath
*.iml
.idea/
.svn/
.settings/
*/target/
*.ipr
*.iws

*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*

sdklog/
target/
*/sdklog/
**/LOG_HOME_IS_UNDEFINED/

node_modules/
